<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey 2018 09 29 / submitted.html Cheung A</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Submitted Info</h1>
    <br>
    <h3>First Name: {{request.form['f_name']}}</h3>
    <br>
    <h3>Last Name: {{request.form['f_name']}}</h3>
    <br>
    <h3>Favorite Language: {{request.form['lang']}}</h3>
    <br>
    <h3>Dojo Location: {{request.form['dojolocation']}}</h3>
    <br>
</body>
</html>    

